body {
  background: #29282e;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #8f8e91;
}

.bold {
  font-weight: 700;
}

main {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
}

#titulo {
  color: #00d7c0;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1 / 7;
  justify-self: center;
}

/* bolita con 5 */
#titulo div {
  color: #b0adc4;
  font-size: 25px;
  width: 36px;
  height: 36px;
  border: solid 1px #b0adc4;
  border-radius: 36px;
  text-align: center;
  margin-left: 10px;
}

#subtitulo {
  grid-column: 1 / 7;
  justify-self: center;
}

#barranaranja {
  grid-column: 1 / 7;
  background-color: #ff5000;
  height: 45px;
  margin-top: 16px;
  color: #29282e;
  font-size: 30px;
  text-align: center;
}

.bullet {
  justify-self: center;
  display: flex;
  align-items: center;
}

.bullet svg {
  margin-right: 10px;
}

#b1 {
  grid-column: 1 / 4;
  padding: 20px 0px;
  justify-self: center;
}

#b2 {
  grid-column: 4 / 7;
  padding: 20px 0px;
  justify-self: center;
}

.justificarcentrado {
  justify-self: center;
}

#anillo1 {
  grid-column: 1/3;
}

#anillo2 {
  grid-column: 3/5;
}

#anillo3 {
  grid-column: 5/7;
}

.textoAnillo {
  fill: #ffffff77;
  font-size: 50px;
}

#graficobarras{
  margin-top: 20px;
  grid-column: 1 / 7;
  height: 200px;
}